<!doctype html>
<html lang='en' data-version='{{timestamp}}'>
<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">

	{{> base/font}}

	<script inline src='head.js'></script>

	{{> base/analytics }}

</head>

<body>

	<!-- {{> base/header 'sticky'}} -->

	<main id='content'>

		{{> story/stepper }}
		{{> story/scroller }}
		{{> story/stack }}


	</main>

	{{> base/footer }}
	<!-- <script>
	function selectCitationIceberg(value) {
        console.log(value)
        var deselectedCircles = d3.selectAll('circle')
        	.classed('active',false)
        var citationDates = d3.select('.sliderIceberg').attr('dates').split(',')
        var selected = citationDates.reduce((prev, curr) => Math.abs(curr - value) < Math.abs(prev - value) ? curr : prev);
        var selectorName = ('#date' + selected)
        console.log(selectorName)
        var selectedCircle = d3.select(selectorName)
          .classed('active',true)
        console.log(selected)
        var citationText = d3.select(selectorName).attr('text')
        console.log(citationText)
        d3.select('.citationContainerIceberg')
        	.text('(' + selected + ') ' + citationText)
      }
</script>

	<script>
	function selectCitation(value) {
        console.log(value)
        var deselectedCircles = d3.selectAll('circle')
        	.classed('active',false)
        var citationDates = d3.select('.slider').attr('dates').split(',')
        var selected = citationDates.reduce((prev, curr) => Math.abs(curr - value) < Math.abs(prev - value) ? curr : prev);
        var selectorName = ('#date' + selected)
        console.log(selectorName)
        var selectedCircle = d3.select(selectorName)
          .classed('active',true)
        console.log(selected)
        var citationText = d3.select(selectorName).attr('text')
        console.log(citationText)
        d3.select('.citationContainer')
        	.text('(' + selected + ') ' + citationText)
      }
</script>

<script>
	function overlayOff(id) {
				//deactivate overlay
				console.log(id)
        var overlay = d3.select('#' + id)
        overlay.classed('active',false)
        //remove everything in overlay
        while (document.getElementById(id).firstChild) {
    document.getElementById(id).removeChild(document.getElementById(id).firstChild);
}
      }
</script> -->

<!-- <script>
import smoothscroll from 'smoothscroll-polyfill';

// kick off the polyfill!
smoothscroll.polyfill();

</script> -->

	<script src='{{basepath}}assets/scripts/d3.v5.9.1.min.js'></script>
  <script src='{{basepath}}assets/scripts/jquery.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>
