@media screen and (min-width: 700px)

  #content
    #graphic1
      margin-top 10px
    .stepper__steps
      align-items flex-start
    .tap
      svg
        display block
        bottom auto
        top 50px
        left auto
        right 300px
      svg.tap--right
        right auto
        left 300px

      &:before
        display none

    .iceberg-text
      font-size 15px
      width 32%
      span
        font-size 14px
      .reveal-click
        font-size 11px
      .slider-container
        margin-top 30px
        &:before
          font-size 12px
    #iceberg0
      .slider-container
        margin-top 60px
    .chart-title
      font-size 36px
      opacity .9
    .stepper__intro
      .stepper__hed
        font-size 48px
      .sound-warning
        font-size 18px
        font-weight 400
      .stepper__byline
        font-size 18px
      .background-image
        background-image url('assets/images/assberg_art_browser-01.svg')
        background-repeat no-repeat
        background-position-x 50%
        background-size cover
        height 100%
        width 100%
        position absolute
        left 0px
        top 0px

    .stepper
      background-image linear-gradient(rgb(245, 245, 245) 0%, rgb(178, 234, 252) 100%);

    .stepper__graphics
      position absolute
      height 100%
      width 100%
      left 0px
      top 0px

    .stepper__video
      display flex
      justify-content center

    .pause-overlay
      position relative
      //object-fit contain
      max-width 800px
    .script-container
      max-width 800px

    .subtitle
      max-width 800px
      width 100%
    video
      //object-fit contain
      //object-position initial
      max-width 800px

    img
      visibility hidden
      display block
      object-fit contain
      margin-top 1%
      -o-object-position initial
      object-position initial
      position absolute
      height 70%
      max-width 90%

    .script-line
      font-size 18px

    .tap--final
      background none

    .stepper__annotation
      font-size 16px
      padding-top 2rem
      line-height 1.6
      span
        font-size 16px
        line-height 1.6

    .scroll-container .step
      max-width 550px
      width 90%
      margin 0 auto 0 auto
      color #333333
      font-family $atlas

    .step p
      text-align left
      font-size 16px
      line-height 1.5
      font-weight 400
      padding 0 1.5rem

    .scroll.active
      display block
      opacity 1

    .usage-examples.active
      display block
      pointer-events auto

    .usage-examples-hidden
      display block
    .word-container
      font-size 16px
      font-weight 300
      margin-bottom 20px
    .citationContainer
      font-size 15px
    .slider-container
      &:before
        font-size 14px


    .slider
      -webkit-appearance: none
      appearance: none
      margin 0 auto
      width 100%

      border-radius 3px
      height: 4px
      background-color rgba(51,51,51,.31)
      outline: none
      opacity 1

    .slider:hover
      opacity: 1


    .slider::-webkit-slider-thumb
      -webkit-appearance: none
      appearance: none
      width: 16px
      height: 16px
      border-radius: 50%
      background #F24C3D
      cursor pointer

    #iceberg0
      pointer-events auto


    .slider::-moz-range-thumb
      width: 16px
      height: 16px
      border-radius: 50%
      background: #F24C3D
      cursor: pointer

    .sliderIceberg
      -webkit-appearance: none
      appearance: none
      border-radius: 3px
      width: 80%
      left:10%
      height: 3px
      background: #333333
      outline: none
      opacity: 0.7
      -webkit-transition: .2s
      transition: opacity .2s
      position: absolute

    .sliderIceberg:hover
      opacity: 1


    .sliderIceberg::-webkit-slider-thumb
      -webkit-appearance: none
      appearance: none
      width: 15px
      height: 15px
      border-radius: 50%
      background: #b2eafc
      cursor: pointer


    .sliderIceberg::-moz-range-thumb
      width: 10px
      height: 10px
      border-radius: 50%
      background: #b2eafc
      cursor: pointer

    .time-line
      path
        stroke-width 16px
        stroke rgba(0, 0, 0, 0.16)
      line
        stroke rgba(93, 93, 93, 0.55)
        stroke-width 3px

    line.active
      opacity:1
      stroke #f24c3d

    .stack .chart
      font-family $atlas
      text-align center
      overflow hidden

    .reveal-click
      display inline-block
      font-size: 10px;



    .reveal-label
      border-radius 15px
      padding 2px 5px 2px 5px
      position relative
      background-color rgba(242, 76, 61, 0.7)
      font-size 11px
      display inline
      text-align center


    .left-shape
      shape-outside: polygon(0 0, 50% 0, 10% 20%, 10% 60%, 50% 100%, 0% 100%)
      float: left
      width: 50%

    #left-shape1
      height 106em

    #right-shape1
      height 106em

    #left-shape2
      height: 71em

    #right-shape2
      height: 71em

    #left-shape3
      height: 65em

    #right-shape3
      height 65em

    #left-shape4
      height: 155em

    #right-shape4
      height 155em

    .right-shape
      shape-outside: polygon(100% 0, 50% 0, 90% 20%, 90% 60%, 50% 100%, 100% 100%)
      float: right
      width: 50%

    .overlay
      position fixed
      display none
      width 100%
      height 100%
      top 0
      left 0
      right 0
      bottom 0
      background-color rgba(245,245,245,0.9)
      z-index 2
      cursor pointer

    .overlay.active
      display flex

    .stack__container .chart-title
      text-align center
      margin-left 0%
